div 
    //create-icon-link.create-button.ms-5.mt-3(
        content='Refresh result'
        v-bind:on_click='sendTemplate'
    //)
    .d-flex.mt-3
        bootstrap-without-label-text-input.create-input(
            v-bind:value.sync='template_name'
            placeholder='Template name'
            v-bind:validation_errors='createTemplateValidationErrors'
        )
        create-icon-link.create-button(
            content='Create template'
            v-on:on_click='createTemplate'
        )
    table(
        v-bind:key="refresherKey" 
        v-bind:style='tableWidth'
    )
        tbody 
            tr(v-for='row in rows')
                td(v-for='item in row')
                    web-designer-component-designer(
                        v-if='item.template'
                        v-bind:selected.sync='item.template.selected'
                        v-bind:template.sync='item.template'
                        v-bind:saved_template_names='savedTemplateNames'
                        v-on:sectionChanged='sectionChanged'
                        v-on:createTemplate='createTemplate'
                        v-on:update:selected='sectionChanged'
                        v-on:onSelectAll='() => { selectWithSubTemplates(item.template) }'
                    )
