div 
    create-icon-link.create-button(
        content='Refresh result'
        v-bind:on_click='sendTemplate'
    )
    create-icon-link.create-button.create-button-margin-left(
        content='Write selection'
        v-bind:on_click='writeSelection'
    )
    table(
        v-bind:key="refresherKey" 
        v-bind:style='tableWidth'
    )
        tbody 
            tr(v-for='row in rows')
                td(v-for='item in row')
                    web-designer-component-designer(
                        v-if='item.template'
                        v-bind:template.sync='item.template'
                        @sectionChanged="sectionChanged"
                    )
