form-item-with-label(
    v-bind:label='label'
    v-bind:validation_errors='validation_errors'
)
    div(
        v-bind:id='formItemId'
    )
        web-designer-text-input(
            label='name'
            v-bind:value.sync='propertyName'
        )
        web-designer-text-input(
            label='value'
            v-bind:value.sync='propertyValue'
        )
