.array {
    padding: 1rem;
    background-color: #ECA400;
}
.array-item {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}
.array-item-form {
    margin-bottom: 0;
    width: 90%;
}
.create-button {
    margin-bottom: 1rem;
}
.create-button-margin-left {
    margin-left: 1rem;
}