form-item-with-label.form-group.array(
    v-bind:label='label'
    v-bind:validation_errors='validation_errors'
)
    div(
        v-bind:id='formItemId'
    )
        create-icon-link.create-button(
            content='Add'
            icon_class='fas fa-plus'
            v-bind:on_click='() => { createItem() }'
        )
        create-icon-link.create-button.create-button-margin-left(
            content='Paste selected sections'
            @click='addSelectedTemplates'
        )
        div(v-if='value')
            div.array-item(v-for='valueIndex in value.length')
                delete-icon-link(
                    v-bind:on_click='() => { deleteItem(valueIndex) }'
                )
                component.array-item-form(
                    v-bind:is='currentItemType'
                    v-bind:value.sync='value[valueIndex - 1]'
                    @sectionSelected='(newSectionType) => { changeSection(newSectionType, valueIndex - 1) }'
                )
