.designer {
    width: 35rem;
    padding: 2rem;
    background-color: #8F95D3;
}
.create-button {
    margin-bottom: 1rem;
}
.create-button-margin-left {
    margin-left: 1rem;
}
h1 {
    margin-bottom: 1.5rem;
}