.designer {
    width: 35rem;
    padding: 2rem;
    background-color: #8F95D3;
}
.selected {
    border: 5px solid #f4c74e;
    border-style: dashed;
}
.create-button {
    margin-bottom: 1rem;
}
h1 {
    margin-bottom: 1.5rem;
}