div(v-bind:key='refresherKey' class='designer')
    div(v-if='this.propertyInfos')
        h1 {{ this.template.type }}
        create-icon-link.create-button(
            content='Create component'
            v-bind:on_click='createComponent'
        )
        create-icon-link.create-button.create-button-margin-left(
            content='Select'
            v-bind:on_click='selectComponent'
        )
        component(
            v-for='propertyName in propertyNames'
            v-bind:key='propertyName'
            v-bind:ref='propertyName'
            v-bind:is='formItemSections[propertyName].type'
            v-bind='formItemSections[propertyName].data'
            v-bind:value.sync='currentTemplate.data[propertyName]'
            @sectionSelected='(newSectionType) => { changeSection(newSectionType, propertyName) }'
            @sectionChanged='(newSectionType) => { $emit("sectionChanged", newSectionType) }'
        )
        | {{ JSON.stringify(this.currentTemplate) }}
